.podcast-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
}

.podcast-item{

}

.podcast-episode-container{
    /* display: grid;
    grid-template-columns: 3fr 1fr 1fr; */
}

.podcast-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
}